<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Variables</h1>
    <h2>His name was {{first_name | capfirst}}</h2>
    <h2>sum of 25 and 50 is {{dictionary.number}}</h2>
    <h2>{{dictionary.number}}</h2>

    <ul>

        {%for items in list%}
           <li>{{items}}</li>
           {% endfor %}
    </ul>
        
</body>
</html>